<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <link rel="icon" href="/logo.ico">
    <title>user</title>
    <link rel="stylesheet" href="/build/css/user.css">
</head>
<body>
    <div id="app"></div>
    <script src="/build/manifest.js"></script>
    <script src="/build/vendor.js"></script>
    <script src="/build/user.js"></script>
</body>
</html>